



<div class="test">
<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <label class="label">{{column.title}}</label>
      </p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <label>{{column.description}}</label>
        <br>
        <time datetime="2016-1-1">[11:09 PM - 1 Jan 2016]</time>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item"> <button (click)="delete()"  class="button is-primary">Delete</button></a>
      <a href="#" class="card-footer-item"> <button (click)="editColumn()" class="button is-primary">Edit</button></a>
    </footer>
  </div>

</div>

        
        
          
        
    
    
    
















