.test {
    font-family: Arial, Helvetica, sans-serif;
    border-width: 2px;
    margin-left: 20px;
    margin-top: 1000px;
    border-style: solid;
    width: fit-content;
    color:darkblue;
    box-shadow: 6px 6px 0px blue;
  
}

.test2 {
    margin: 20px 20px 20px 20px;
    color:darkblue;
   
}

h2 {
    font-size: 30px;
    color: red;
}